$colorBlue:rgb(170,226,255);
$colorBlueFonce:rgb(89,119,162);
$colorGray:rgb(205,216,223);
$colorBlueMarine:#00245b;
*{
    margin: 0;
    box-sizing: border-box;
}
/** Page port etaples **/
.grille {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: $colorBlue;
    background: linear-gradient(49deg, $colorBlue 16%, $colorBlueFonce 38%, $colorGray 52%, $colorBlueMarine 100%);
    }
    .grille1 { grid-area: 1 / 1 / 2 / 2; align-items: center; justify-content: start; display: flex;}
    #logoimg{
        height: 18vh;
        width: 10vw;
      
    }
    .grille2 { grid-area: 1 / 2 / 2 / 3;  align-items: center; justify-content: center; display: flex; border-radius:  10% 10% 0 0;}
    .grille2 h1{
        color: $colorBlueFonce;

text-shadow: 1px 1px 2px $colorBlueMarine;
font-family: Georgia, serif;
font-size: 3em;
letter-spacing: 1.4px;
word-spacing: 0.8px;
color: $colorBlue;
font-weight: 700;
text-decoration: none solid $colorGray;
font-style: italic;
font-variant: small-caps;
text-transform: none;
    }
    .grille3 { grid-area: 1 / 3 / 2 / 4; }
    .grille4 { grid-area: 2 / 1 / 3 / 2; -webkit-box-shadow: -4px -10px 4px 1px $colorBlueFonce; 
        box-shadow: -4px -10px 4px 1px $colorBlueFonce; border-top:$colorBlue ridge 1px ;}
    .grille5 { grid-area: 2 / 2 / 3 / 3;}
    .grille6 { grid-area: 2 / 3 / 3 / 4; }

    .photoslide {
        display: grid;
        grid-template-columns: 1fr;
      
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    
        }
        
        .photodiv1 { grid-area: 1 / 1 / 2 / 2;  background: linear-gradient(217deg, $colorBlue, $colorBlueMarine 60.71%),
            linear-gradient(127deg, $colorBlueFonce, $colorBlueFonce 70.71%),
            linear-gradient(336deg, $colorBlueMarine, $colorGray 70.71%);}
        .photodiv2 { grid-area: 2 / 1 / 3 / 2;  justify-content: center; display: flex;   background: linear-gradient(217deg, $colorBlue, $colorBlueMarine 60.71%),
          linear-gradient(127deg, $colorBlueFonce, $colorBlueFonce 70.71%),
          linear-gradient(336deg, $colorBlueMarine, $colorGray 70.71%);}
          .photodiv2 iframe{
            margin-top: 2vh;
          }
        #slider {
            position: relative;
            background: $colorBlue;
            background: linear-gradient(49deg, $colorBlue 16%, $colorBlueFonce 38%, $colorGray 52%, $colorBlueMarine 100%);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
    
           
          }
         #slider img{
            height: 64vh;
          
            width: 40vw;
            border: $colorBlueMarine ridge 2px;
            -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -5px 33px 47px 50px rgba(69,182,255,0); 
            box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -5px 33px 47px 50px rgba(69,182,255,0);
          }
          
          #precedent,
          #suivant {
         
            cursor: pointer;
            position: absolute;
          
           
            padding: 5px;
          }
         
          
          #precedent {
            left: 0;
           
          }
          
          #suivant {
            right: 0;
          }
          
          #slider:hover #precedent,
          #slider:hover #suivant {
            opacity: 1;
          }

          @media screen and (max-width: 871px) {
              .grille {
                  display: block;
                 
                  justify-content: center;
                  align-items: center;
              }
              iframe{
                height:300px;
                width: 400px;
              }
              #slider img{
                height: 40vh;
                width: 50vw;
              }
            svg{
              height: 40px;
              width: 30px;
            }
              
            
          }
                                                             /** FIN page port etaples début poge ville**/


          
          * {
          
            outline: none;
            user-select: none;
          }
          
          #carousel-wrapper {
            background: linear-gradient(49deg, $colorBlue 16%, $colorBlueFonce 38%, $colorGray 52%, $colorBlueMarine 100%);
            width: auto;
            height: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            overflow: hidden;
          
            #menu {
              height: 380px;
              width: 720px;
              overflow: hidden;
              font-weight: 700;
              line-height: 1;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              vertical-align: middle;
              transition: all 0.6s ease-in-out;
          
              #current-option {
                position: relative;
                width: 100%;
                height: 100%;
                transform: translate(-25%, 0%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                //background-color: blue;
                overflow: hidden;
          
                #current-option-text1 {
                  font-size: 1.6rem;
                  line-height: 3rem;
                  width: 220px;
                  height: 200px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: flex-start;
                  //background: red;
          
                  &::before {
                    content: attr(data-next-text);
                    position: absolute;
                    transform: translate(0%, 380px);
                    width: 100%;
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    //background: red;
                  }
          
                  &::after {
                    content: attr(data-previous-text);
                    position: absolute;
                    transform: translate(0%, -380px);
                    width: 100%;
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    //background: red;
                  }
                }
          
                #current-option-text2 {
                  font-size: 0.8rem;
                  width: 220px;
                  height: 40px;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-end;
                  //background: green;
          
                  &::before {
                    content: attr(data-next-text);
                    position: absolute;
                    transform: translate(0%, 380px);
                    width: 100%;
                    height: 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    //background: green;
                  }
          
                  &::after {
                    content: attr(data-previous-text);
                    position: absolute;
                    transform: translate(0%, -380px);
                    width: 100%;
                    height: 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    //background: green;
                  }
                }
              }
          
              #previous-option {
                width: 1.5rem;
                height: 1.5rem;
                border: none;
                display: block;
                cursor: pointer;
                background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
                background-size: cover;
                position: absolute;
                transform: translate(310px, 50px);
              }
          
              #next-option {
                width: 1.5rem;
                height: 1.5rem;
                border: none;
                display: block;
                cursor: pointer;
                background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
                background-size: cover;
                position: absolute;
                transform: translate(310px, -50px) rotate(180deg);
              }
            }
          
            #image {
              height: 240px;
              width: 240px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              z-index: 101;
              position: absolute;
              transform: translate(140px, 0);
            }
          
            &.anim-next {
              pointer-events: none;
          
              #current-option-text1 {
                animation: next-text 0.65s 0.085s;
              }
          
              #current-option-text2 {
                animation: next-text 0.65s 0.085s;
              }
          
              #previous-option {
                animation: next-top-arrow 0.65s 0.085s;
              }
          
              #next-option {
                animation: next-bottom-arrow 0.65s 0.085s;
              }
              
              #image {
                animation: next-image 0.65s 0.085s;
              }
            }
          
            &.anim-previous {
              pointer-events: none;
          
              #current-option-text1 {
                animation: previous-text 0.65s 0.085s;
              }
          
              #current-option-text2 {
                animation: previous-text 0.65s 0.085s;
              }
          
              #previous-option {
                animation: previous-top-arrow 0.65s 0.085s;
              }
          
              #next-option {
                animation: previous-bottom-arrow 0.65s 0.085s;
              }
              
              #image {
                animation: previous-image 0.65s 0.085s;
              }
            }
          }
          
          @keyframes previous-text {
            50%,
            55% {
              transform: translate(0%, 390px);
            }
            to {
              transform: translate(0%, 380px);
            }
          }
          
          @keyframes previous-top-arrow {
            50% {
              transform: translate(310px, 53px);
            }
          }
          
          @keyframes previous-bottom-arrow {
            50% {
              transform: translate(310px, -47px) rotate(180deg);
            }
          }
          
          @keyframes previous-image {
            0% {
              transform: translate(140px, 0) scale(1);
              opacity: 1;
            }
            70% {
              transform: translate(140px, 0) scale(1.1);
              opacity: 0;
            }
            100% {
              transform: translate(140px, 0) scale(1);
              opacity: 1;
            }
          }
          
          @keyframes next-text {
            50%,
            55% {
              transform: translate(0%, -390px);
            }
            to {
              transform: translate(0%, -380px);
            }
          }
          
          @keyframes next-top-arrow {
            50% {
              transform: translate(310px, 47px);
            }
          }
          
          @keyframes next-bottom-arrow {
            50% {
              transform: translate(310px, -53px) rotate(180deg);
            }
          }
          
          @keyframes next-image {
            0% {
              transform: translate(140px, 0) scale(1);
              opacity: 1;
            }
            70% {
              transform: translate(140px, 0) scale(1.1);
              opacity: 0;
            }
            100% {
              transform: translate(140px, 0) scale(1);
              opacity: 1;
            }
          }
          .photodiv2{
            background: linear-gradient(49deg, $colorBlue 16%, $colorBlueFonce 38%, $colorGray 52%, $colorBlueMarine 100%);
            height: 20.6vh;
          }
          @media screen and (max-width: 720px) {
            #menu {
              display: block;
            }
            #carousel-wrapper{
              display: block;
            }
            #carousel-wrapper #menu #next-option{
              width: 1.5rem;
              height: 1.5rem;
              border: none;
              cursor: pointer;
              background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
                background-size: auto;
                background-size: cover;
             position: absolute;
             left: 10vh;
              transform: translate(310px, -50px) rotate(180deg);
            }
            #carousel-wrapper #menu #previous-option{
              width: 1.5rem;
              height: 1.5rem;
              border: none;
              position: absolute;
              left: 10vh;
              display: block;
              cursor: pointer;
              background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
                background-size: auto;
              background-size: cover;
              position: absolute;
              transform: translate(310px, 50px);
            }
        }
                                                             /** FIN page ville etaples début poge foret**/



                             /* DÉBUT PAGE D'ACCEUILL */


                             .home{
                              height: 100vh;
                              overflow: hidden;
                              position: relative;
                          
                              .slide{
                                  position: absolute;
                                  left: 0;
                                  top: 0;
                                  width: 100%;
                                  height: 100%;
                                  background-size: cover;
                                  background-position: center center;
                                  z-index: 1;
                                  display: none;
                                  animation: slide 2s ease-in-out;
                          
                                  .container{
                                      max-width: 1170px;
                                      margin: auto;
                                      flex-grow: 1;
                                      .caption{
                                          width: 50%;
                          
                                          h1{
                                              font-size: 45px;
                                              color: #f5f7fa;
                                              margin: 0;
                                             
                                          }
                                     
                                          a{
                                              display: inline-block;
                                              padding: 10px 30px;
                                              background-color: rgb(170,226,255);
                                              text-decoration: none;
                                              color: #000000;
                                              border: 3px solid #00245b;
                                              border-radius: 20px;
                                          }
                                      }
                                  }
                              }
                              .controls{
                                  .prev,
                                  .next{
                                      position: absolute;
                                      z-index: 2;
                                      top: 50%;
                                      display: flex;
                                      height: 50px;
                                      width: 50px;
                                      margin-top: -20px;
                                      color: #ffffff;
                                      background-color: #00245b;
                                      justify-content: center;
                                      align-items: center;
                                      cursor: pointer;
                                  }
                                  .prev{
                                      left: 0;
                                  }
                                  .next{
                                      right: 0;
                                  }
                              }
                              .indicator{
                                  position: absolute;
                                  left: 50%;
                                  bottom: 30px;
                                  z-index: 2;
                                   > div{
                                      display: inline-block;
                                      text-align: center;
                                      width: 25px;
                                      line-height: 25px;
                                      margin: 0 2px;
                                      height: 25px;
                                      color: #a89d9d;
                                      background-color: rgb(170,226,255);
                                      border-radius: 50%;
                                     cursor: pointer;
                                  }
                              }
                          }
                          
                          .home .slide.active{
                              display: flex;
                          }
                          
                          .home .slide.active .caption h1{
                              opacity: 0;
                              animation: captionText .5s ease forwards;
                              animation-delay: 1s;
                          }
                          .home .slide.active .caption p{
                              opacity: 0;
                              animation: captionText .5s ease forwards;
                              animation-delay: 1.2s;
                          }
                          .home .slide.active .caption a{
                              opacity: 0;
                              animation: captionText .5s ease forwards;
                              animation-delay: 1.4s;
                          }
                          
                          .home .indicator div.active{
                              background-color: #00245b;
                          }
                          
                          @keyframes captionText {
                              0%{
                                  opacity: 0; transform: translateX(-100px);
                              }
                              100%{
                                  opacity: 1; transform: translateX(0);
                              }
                          }
                          
                          @keyframes slide {
                              0%{
                                  opacity: 0; transform: scale(1.1);
                              }
                              100%{
                                  opacity: 1; transform: scale(1);
                              }
                          }



                          nav{
                            width: 100%;
                            background-color:$colorBlue;
                            border-top: $colorBlueMarine 3px solid;
                            border-bottom: $colorBlueMarine3px solid;
                            position: sticky;
                            top: 0px;
                          }
                          
                          nav ul{
                            list-style-type: none;
                          }
                          
                          nav li{
                            float: left;
                            width: 25%;
                            text-align: center;
                          }
                          
                         
                          nav ul::after{
                            content: "";
                            display: table;
                            clear: both;
                          }
                          
                          nav a{
                            display: block; 
                            text-decoration: none;
                            color: rgb(87, 20, 20);
                            border-bottom: 2px solid transparent; 
                            padding: 10px 0px;
                          }
                          
                          nav a:hover{
                            color: rgb(26, 209, 209);
                            border-bottom: 2px solid lightseagreen;
                          }

                        
                          